@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   Háskólinn í Reykjavík, Nauthólsvík<br />
    <abbr title="Sími">P:</abbr>
    1234567
</address>

<address>
    <strong>Hafa samband:</strong>   <a href="mailto:Support@example.com">Support@hr.is</a><br />
</address>