@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-md-12">
        <h1>Welcome to Mooshak v2.0</h1>
        <p>
            This system is sooo much better than the old one!
        </p>
    </div>
</div>