body {
    padding-top: 50px;
    padding-bottom: 20px;
}



/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    margin-top: 10px;
    padding-right: 15px;
    background:url('http://us-kick9.s3.amazonaws.com/soulhunters/homepic/63523cc4bcc4d53cb28a4ba6ab2e2e30.jpg') center center no-repeat;
    min-height:100%;
	background-size:cover;
    background: url(../Images/code-wallpaper-4.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    */
}

html { 
  background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.form-horizontal{

    background-color:white;
   
    margin-top: 75px;
    padding: 20px;
    border:0.25px solid;
    border-color: cornflowerblue;
    border-radius: 4px;
    width:700px;
   
}


#login-btn, #register-btn{

    background-color:cornflowerblue;
    width: 100%;
    height:50px;
    font-size:20px;
    color:white;
}

#orId{
    text-align:left;
    font-size:16px;
    margin-top:20px;
}

.navbar-inverse { 
    background-color:white;

}

.navbar-brand { color: cornflowerblue; }
.navbar-brand:visited { color: cornflowerblue; }
.navbar-brand:hover { color: cornflowerblue; }
.navbar-brand-color { color: cornflowerblue; }


.navbar-default {
  background-color:teal;
  background-image: none;
  background-repeat: no-repeat;
 }

/* Navigation Links */

a#nav-li {
    margin: 5px;
}

a#nav-li:link {
    color: black;
}

a#nav-li:visited {
    color: black;
}

a#nav-li:hover {
    color: cornflowerblue;
}

a#nav-li:active {
    color: cornflowerblue;
}

/* Logo */
/*
#logo-nav:link {
    color: cornflowerblue;
}

#logo-nav:visited {
    color: cornflowerblue;
}

#logo-nav:hover {
    color: cornflowerblue;
}

#logo-nav:active {
    color: cornflowerblue;
}
*/
/* Login Links */

a#loginLink {
    margin: 5px;
}

#loginLink:link {
    color: black;
}

#loginLink:visited {
    color: black;
}

#loginLink:hover {
    color: cornflowerblue;
}

#loginLink:active {
    color: cornflowerblue;
}

/* Navigation bar */

#main-nav {
    border-color: cornflowerblue;
    height: 60px;
}

/* Logo */

img#logo-nav {
    width: 50px;
    height: 50px;
    text-indent: -9999px; /* hides the link text */
    display: block;
    margin: 5px;
}

img#profile-picture {
    margin-left: 50px;
}